.triangle-blue,
.triangle-green {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $on-track-color;
  display: inline-block;
  height: 0;
  position: absolute;
  right: -8px;
  top: 1px;
  width: 0;
}
.triangle-green {
  border-top: 8px solid $completed-color;
}
.triangle__label {
  position: absolute;
  right: -15px;
  top: -12px;
}
.gauge-data-format {
  font-size: 18px;
}
.card__wrap__priority .gauge-data-format {
  font-size: 20px;
}
.highcharts-data-labels > div {
  right: 0 !important;
  bottom: 10px !important;
}
.rotate-180 {
  padding-top: 2px;
  transform: rotate(180deg);
}
.expected-target, .actual-target {
  border-style: solid;
  border-width: 12px 6px 0 6px;
  border-color: $on-track-color transparent transparent transparent;
  height: 0;
  width: 0;
}
.actual-target {
  border-color: $completed-color transparent transparent transparent;
}
