.reset-wrap(ng-controller="ResetPasswordController as reset")
  .reset
    .reset__title.f24(translate="FORGOT_PASSWORD.RESET_PASSWORD")
  .reset__container
    form.reset__form(name="resetForm" novalidate ng-submit="")
      label(for="newPassword" translate="RESET_PASSWORD.NEW_PASSWORD")
      br
      div
        input.f16(ng-model="reset.newPassword" type="password" ng-change="reset.passwordMatch()" name="newPassword" id="newPassword")
      br
      label(for="confirmNewPassword" translate="RESET_PASSWORD.CONFIRM_NEW_PASSWORD")
      br
      div
        input.f16(ng-model="reset.confirmNewPassword" ng-change="reset.passwordMatch()" type="password" name="confirmNewPassword" id="confirmNewPassword")
      br
      button.f18(type="submit" ng-disabled="!reset.changePasswordEnabled" ng-click="reset.changePassword()" ng-class="{true:'btn-disable'}[resetForm.$invalid]")
        span(ng-if="reset.spinner.isVisibile")
          img(src="assets/images/spinner-svg.svg" ng-class="'spin-button'")
        span(ng-if="!reset.spinner.isVisibile" translate="RESET_PASSWORD.CHANGE_PASSWORD")
      .error-message {{reset.errorMessage}}
