$header-color: #666666;
$primary-card-header-color: #0B4623;
$secondary-header-bg-color : #00335c;
$secondary-card-header-color: #f5b067;
$card-color: #e6e6e6;
$card-header-bg-color: #777777;
$default-bg-color: #fff;
$card-title-bg-color: #f0f0f0;
$card-footer-border-color: #b0b0b0;
$breadcrumb-bg: #ffffff;
$primary-font: roboto-regular;
$secondary-font: roboto-light;
$primary-font-color: #000;
$secondary-font-color: #fff;
$body-bg-color: #fff;
$container-bg-color: #D4F9DF;
$completed-color: #00C8B9;
$on-track-color: #ECB74C;
$delayed-color: #FD6E6B;
$unknown-color: #777777;
$actual-color: #33ace0;
$target-color: #808080;
$shadow-color: #fff;
$error-message-color: #ECA967;
$form-button-color: #0B4623;
$primary-orange-color: #F55733;

//mobile
$mobile-header-color: $primary-card-header-color;
$mobile-menu-bg-color: #0b4623;
$mobile-menu-admin-color: #0B4623;
$mobile-menu-bg-color-active: $mobile-menu-admin-color;
