div.unsupported-browser(ng-controller="NoSupportController")
  h1.title.f24(translate="NO_SUPPORT.UNSUPPORTED_BROWSER")
  p.text.f18
    span(translate="NO_SUPPORT.NOT_SUPPORTED_IN_IE_PRIVATE_MODE")
    span(translate="NO_SUPPORT.ALTERNATIVE_BROWSER")
  h1.title.f24(translate="NO_SUPPORT.SUPPORTED_BROWSER")
  ul.f16
    li(translate="NO_SUPPORT.GOOGLE_CHROME")
    li(translate="NO_SUPPORT.APPLE_SAFARI")
    li(translate="NO_SUPPORT.MOZILLA_FIREFOX")
