.forgot-wrap(ng-controller="ForgotPasswordController as forgot")
  .forgot(rtl is-rtl="{{main.isRtl}}")
    .forgot__title.f24(translate="FORGOT_PASSWORD.FORGOT_PASSWORD")
  .forgot__container
    rtl(is-rtl="{{main.isRtl}}")
      a.login__redirect.pull-left(href="#/login")
        span.login__text.f20 < {{'FORGOT_PASSWORD.LOGIN' | translate}}
    form.forgot__form(name="forgotForm" novalidate ng-submit="forgot.forgotNotification(forgot.username)" rtl is-rtl="{{main.isRtl}}")
      label(for="username") {{'EMAIL' | translate}} *
      br
      div
        input.f16(ng-model="forgot.username" ngRequired type="email" name="email" id="username" placeholder="{{'FORGOT_PASSWORD.USER123@PUSH.COM' | translate}}" required)
      .messages
        span.error-message {{forgot.errorMessage}}
        span.success-message {{forgot.successMessage}}
      button.f18(type="submit" ng-disabled="forgotForm.$invalid" ng-class="{true:'btn-disable'}[forgotForm.$invalid]" translate="FORGOT_PASSWORD.RESET_PASSWORD")
